In [47]:
#Import Necessary Modules

import pandas as pd
import numpy as np
import wikipedia as wp

In [48]:
#Lets encode the wikipedia page using wikipedia module

html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")

#Convert the following into DataFrame

data = pd.read_html(html, header=0)[0]
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [49]:
data.drop(data[data["Borough"] == "Not assigned"].index, inplace=True)
data.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [50]:
#If more than one neighborhood exists in one postal code area, then those two rows will combined into one row with the neighborhoods seperated by comma

data = data.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x: ', '.join(x)).to_frame().reset_index()
data.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [51]:
#If a cell has a borough but a Not Assigned neighborhood, then the neighborhood will be same as the borough

for index, row in data.iterrows():
    if row["Neighbourhood"] == 'Not Assigned':
        row["Neighbourhood"] = row["Borough"]

In [52]:
data.shape

(103, 3)